#body-main {
    /*background-color: #6666CB;*/
    /*background-color: #5959b3;*/
    background: linear-gradient(#7373e5, #5959b3);
    /*background-image: url("../images/background-index.png");*/
    /*text-align: center;*/
    width: auto;
    margin: 0 auto;
    font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", "Tahoma", "Hiragino Sans GB", "Microsoft Yahei", "sans-serif";
}

#cas {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
}

#p10 {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    color: #111111;
}

.p11 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #111111;
    /*text-decoration:underline;*/
}

a {
    text-decoration: none;
    margin: auto 6px;
}

/* 未访问的链接 */
a:link {
    color: #FFFFFF;
}

/* 已访问的链接 */
a:visited {
    color: #FFFFFF;
}

/* 鼠标移动到链接上 */
a:hover {
    color: #78ff32;
    text-shadow: 0 0 2px #78ff32;
}

.a10 {
    width: 1000px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    line-height: 200%;
    word-wrap: break-word;
}

#h10 {
    width: 1200px;
    height: 4px;
    border-top: 2px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
}

#h11 {
    width: 1200px;
    height: 2px;
    border: 1px solid #FFFFFF;
    border-left: none;
    border-right: none;
    margin-top: 14px;
    margin-bottom: 0;
}

#link {
    width: 704px;
    height: 68px;
    margin: 10px auto;
}

.icon {
    text-align: center;
    position: relative;
    float: left;
    margin: 0 auto;
}

.link1 {
    background-image: url("../images/group-link.png");
    background-position: -544px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link1:hover {
    background-image: url("../images/group-link.png");
    background-position: -544px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link2 {
    background-image: url("../images/group-link.png");
    background-position: -68px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link2:hover {
    background-image: url("../images/group-link.png");
    background-position: -68px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link3 {
    background-image: url("../images/group-link.png");
    background-position: -136px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link3:hover {
    background-image: url("../images/group-link.png");
    background-position: -136px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link4 {
    background-image: url("../images/group-link.png");
    background-position: -204px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link4:hover {
    background-image: url("../images/group-link.png");
    background-position: -204px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link5 {
    background-image: url("../images/group-link.png");
    background-position: -272px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link5:hover {
    background-image: url("../images/group-link.png");
    background-position: -272px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link6 {
    background-image: url("../images/group-link.png");
    background-position: -340px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link6:hover {
    background-image: url("../images/group-link.png");
    background-position: -340px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link7 {
    background-image: url("../images/group-link.png");
    background-position: -408px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link7:hover {
    background-image: url("../images/group-link.png");
    background-position: -408px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link8 {
    background-image: url("../images/group-link.png");
    background-position: -476px 0;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

.link8:hover {
    background-image: url("../images/group-link.png");
    background-position: -476px -68px;
    width: 68px;
    height: 68px;
    margin: 0 10px;
}

#copyright {
    margin: 20px auto;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}
